* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c1bcea; /* 보라색 배경 설정 */
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column; /* 자식 요소들을 세로 방향으로 나열 */
  align-items: center; /* 가로 방향의 중앙 정렬 유지 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
}

.ContentWrapper {
  display: flex;
  flex-direction: row; /* UserInfoPanel과 ContentArea를 가로 방향으로 배치 */
  justify-content: space-between; /* 좌우 요소 사이의 간격을 최대로 설정 */
  width: 120%;
  max-width: 1200px;
  /*border: 3px solid black;*/
}

.UserInfoPanel {
  display: flex;
  border: 2px solid #cdcdcd;
  background-color: #ffffff;
  flex-basis: 30%;
  padding-bottom: 20px;
  /* border: 2px solid #cdcdcd; */
  margin-left: 20px;
  border-radius: 2%;
  flex-direction: column;
  align-items: center;
}
.UserInfo_top {
  width: 100%;
  display: grid;
  height: 15%;
  grid-template-columns: 1fr 1fr 1fr;
  /*display: flex;
  justify-content: center;*/
  /* border: 2px solid red; */
  /*border: 3px black;*/
}
/* .emptybox{
  border: 3px solid #cdcdcd;
} */
.usericon_box {
  margin-top: 15%;
  /* border: 3px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.gosetup {
  /* border: 3px solid #cdcdcd; */
  width: 100%;
}

/*아이디 나오는 부분*/
.this {
  height: 0.5%;
}

.id_text {
  height: 5%;
}
.ContentArea {
  position: relative;
  display: flex;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 30px;
  border: 2px solid #cdcdcd;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
}

.Camera {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* 비디오 너비를 부모에 맞춤 */
  height: 100%; /* 비디오 높이를 부모에 맞춤 */
}

.user_icon {
  /*그리드 써서 설정 아이콘이랑 7:1비율로 수정*/
  position: absolute;
  top: 10%;
}

.RegisteredUser {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  box-sizing: border-box;
  background-color: #dbe1f0;
  height: 6%;
  margin-bottom: 10%;
}
.usermanagement /*이거도 그리드로 나눠야 할 듯 안해도 될지도*/ {
  width: 100%;
  /* border: 5px solid yellow; */
  height: 55%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  width: 80%;
  height: 10%;
  /* border-radius: 10%; */
  background-color: #e6eaf5;
  /* border: 2px solid #BFC2ED; */
  margin-bottom: 4%;
}

.userplus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #c1bcea;
  height: 10%;
  /* border-radius: 5%; */
  width: 80%;
}

.startButton {
  display: flex;
  width: 100%;
  /* border: 1px solid #c1bcea; */
  align-items: center;
  justify-content: center;
  background-color: #bfc2ed;
  padding: 2%;
  height: 30px;
  border: 0;
}

#al {
  margin: auto 0 0 auto;
  display: flex;
  justify-content: end;

  /* border: 2px solid black; */
}

.gosetup img {
  display: flex;
  max-width: 60%;
  max-height: 60%;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 10%;
  /* border: 2px solid black; */
}

ul {
  list-style: none;
}
