.Top {
  margin-top: 2.5%;
  margin-bottom: 1%;
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  /* border: 2px solid yellow;*/
}

.top-left,
.top-center,
.top-right {
  flex-grow: 1;
  padding: 15px;
  /*border: 2px solid white;*/
  box-sizing: border-box;
}

.top-center {
  width: 100%;
  /* background-color: black; */
}

.top-center .homeButton img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}
